# Ignorar backups de base de datos
*.bak

# Ignorar datos crudos (Opcional, pero muy recomendado)
Proyecto_F1/raw/*.csv
Proyecto_F1/raw/*.md
Proyecto_F1/raw/*.gz
Proyecto_F1/scripts/.vs/
Proyecto_F1/*.zip
*.zip